body{
    //background-color: #f7f0c6;   
    background-color: lavender ;
    font-size: 1.5em;
}
.page-header{
    background-image: url("../img/logo.png");
    background-repeat: no-repeat;
    height: 200px;
    //margin-bottom: 10px;
    background-position: center;
}
.test  {
    display: inline-flex;
    width: 100%;
    height: 100%;
    margin: 0px 0px 0px 0px;


}
.page-header .text-center{
    padding-top: 95px; 
    -moz-border-radius: 20%;
}

footer{
    margin-top: 20px;
    font-size: small;
    text-align: center;
}

table.type_cours td{
    border: none;
}

table.type_cours td:last-child{
    text-align: right;
    width: 20%;
}
.type_cours_menuClass{
    height: 25px;width: 25px;
}
.type_cours_datatable_in_datadgrid{    
    height: 250px;
    //margin-top: 0px;
    width: 100%;
}
#aa,#ab,#ac{
    text-align: right;
}

.syntaxe_content{
    //margin-left: 10px;
    //margin-top: 10px;
    width: 100%;    

    margin-top: 5px;
    margin-bottom: 5px;
}
#center_content_div{
    text-align: center;
    //width: ;
    //margin: auto;
}
.cmd_button{
    width: auto;
}
.selectClass{
    height: 70px;
    width: 100%;

}

table.rightPosition tr td{
    text-align: left;
}

table.rightPosition tr td:first-child {
    text-align: right;
}
